body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: xx-large;
    color:blue;
}

h2 {
    font-size: x-large;
    color:brown;
    border:groove;
    width: fit-content;

    

}

h3 {
    color:darkgreen;

}

body {
    background-image: url(../lauterbrunnen.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode:darken;
    
    
}

li {
    font-weight: bold;
}



