body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: xx-large;
    color:blue;
}

h2 {
    font-size: x-large;
    color: brown
}